.git
.github
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
